/*Resetear los estilos del navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #444;
    background: linear-gradient(to bottom, #effeff 0%,#c0d1d3 100%);
}

h1,h2, h3, .logo{
    font-family: Fredoka, serif;
    font-weight: 700;
    background-image: linear-gradient(135deg, #f74e9c 0%,#f85751 100%);
    background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    color: #7e85e7;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.site-header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header {
    padding: 1rem 0rem;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    font-size: 2.5rem;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    margin-right: 20px;
    margin-left: 20px;
}

.main-nav a {
    font-weight: 700;
}

#hero {
    background-image: linear-gradient(rgb(20, 6, 115,0.85), rgba(0,0,0,0)), url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding:150px 0;
    text-align: center;
}

#hero h1 {
    color: #ffffff;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;    
}

